html,
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-bottom: 6rem;
}


html {
  overflow: auto;
}

.container {
  text-align: center;
  max-height: 100vh;
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* Cambiato da 10 a 15 */
  grid-template-rows: repeat(15, 30px);
  gap: 2px;
  margin: 20px auto;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
}

.grid div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; /* Roboto Bold */
  position: relative;
}

.grid div span {
  display: inline-block;
  transition: transform 0.6s, color 0.6s;
  transition-delay: 0s;
}

.grid div.selected span {
  color: rgb(90, 90, 90);
}

.grid div.correct span {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; /* Roboto Bold */
  transform: rotateY(360deg);
}

#word-search-container {
  position: relative;
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

#word-grid {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  gap: 2px;
  position: relative;
  width: max-content;
  z-index: 3;
}

#word-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

#word-grid div span {
  transition: color 0.3s ease, transform 0.6s ease;
}

.canvas-container {
  position: relative;
  width: max-content;
}

#fixed-canvas,
#selection-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#word-search-container {
  position: relative;
  width: max-content;
  margin: auto;
}

.show-selection-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

#selected-word-display {
  flex: 7; 
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* Assicurati che i padding e margini dei singoli elementi non influenzino il layout complessivo */
.selected-word-display {
  height: 1rem;
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem 0rem 0rem 2rem;
  margin: 0;
}

#menuButton {
  flex: 3; /* Occupa circa il 30% dello spazio */
  margin-left: auto; /* Spinge il bottone all'estrema destra */
  height: 3rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Roboto Bold */
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0rem 2rem 2rem 0rem;

  text-align: center; /* Assicura che il testo sia centrato */
}

.side-menu {
  height: 100%; /* Assicurati che copra l'altezza completa se necessario */
  width: 0; /* Imposta la larghezza iniziale a 0 */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  transition: width 0.5s; /* Transizione fluida per la larghezza */
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

main{
    overflow-y: scroll;
    height: 80%;
}

.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: white;
}

article {
  padding: 1rem;
  background-color: yellow;
  margin: 1rem;
  border-radius: 2rem;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h2 {
  margin: 1rem;
  text-align: center;
  color: white;
  white-space: nowrap;
}

.word-count-badge {
  position: absolute;
  background-color: yellow;
  color: black;
  
  font-size: 0.75em;
  padding: 3px;
  margin-left: 1rem;
  border-radius: 2rem; /* Rende il badge circolare */
  position: relative;
  display: inline-block;
  min-width: 20px; /* Assicura che il badge sia abbastanza grande */
  text-align: center;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 70%;  /* Larghezza al 80% della viewport */
  max-width: 500px;  /* Larghezza massima di 500px */
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  text-align: center;
  color: black;
  background-color: yellow;
  border-radius: 2rem;
  font-family: "Roboto", sans-serif;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-sizing: border-box;  /* Include padding nella larghezza totale */
}

.popup.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.artist-name, .artist-date, .artist-show {
  margin: 0.2rem 0;
  font-weight: 700;
  color:#000;
  
}

.artist-name { font-size: 1.4rem; }
.artist-show {
  font-size: 1rem;
  margin-bottom: 0.7rem;
  word-wrap: break-word; /* Consente di andare a capo all'interno del contenitore */
  white-space: normal; /* Assicura che il wrapping avvenga naturalmente */
}

.artist-date { font-size: 1rem; margin: 0.8rem 0;}


.artist-button, .close-button {
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  transition: background-color 0.3s;
}

.artist-button {
  display: inline-block;
  background-color: #000;
  color: yellow;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}



.words-container {
  background-color: #fff;
  width: 80vw; /* Larghezza del contenitore */
  max-height: 120px; /* Altezza massima del contenitore */
  overflow-x: auto; /* Abilita lo scroll orizzontale */
  white-space: nowrap; /* Impedisce la rottura di riga per far sì che tutte le parole siano sullo stesso rigo */
  padding: 4px 8px;
  border: 10px solid #fff; /* Bordo per rendere visibile il contenitore */
  margin: auto;
  outline: none;
  border-radius: 3rem;

  /* Nascondi la barra di scorrimento su Webkit */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Opzione alternativa per nascondere le scrollbar mantenendo lo scorrimento touch su altri browser */
  scrollbar-width: none; /* Per Firefox */
  -ms-overflow-style: none;  /* Per Internet Explorer 10+ */
}

/* Assicurati che il contenuto sia ancora scorrevole su IE e Edge legacy */
.words-container {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.word-item {
  display: inline; /* Visualizza gli elementi in linea */
  gap: 1 rem; /* Margine tra le parole */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.Parole_da_trovare{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 1rem;
  display: inline-block;
}

#switch-year{
  background-color: yellow;
  padding: 0.2rem 0.5rem;
  border-radius: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 10px; /* Aumentato da 10px a 50px per visibilità */
  height: 10px; /* Aumentato da 10px a 50px per visibilità */
  border-radius: 50%;
  background-color: #000; /* Colore nero */
  color: white;
  text-align: center;
  padding: 1rem;
  line-height: 8px; /* Ajustato per centrare il testo verticalmente */
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  z-index: 2000; /* Aggiunto per garantire che il bottone appaia sopra gli altri elementi */
}

.scroll-btn:hover {
  background-color: #000; /* Colore grigio scuro al passaggio del mouse */
  transform: scale(1.1);
}

